@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* General styles */
body {
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-image: url('../images/Fondo-Cartilla.jpg');
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.numero {
    font-size: 15px;
}
.logo {
    width: 90px;
}

header h1 {
    margin: 0;
    font-size: 35px;
}

main {
    padding: 1em;
}

.menu {
    
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.menu-category {
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen en el cuadro */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1em;
    color: white; /* Asegura que el texto sea legible sobre el fondo oscuro */
    background-color: rgba(12, 12, 12, 0.6); /* Fondo semi-transparente para mejorar la legibilidad */

    /* Añadir ancho máximo y centrar el contenedor */
    max-width: 600px; /* Ajusta según tus necesidades */
    width: 100%; /* Asegura que ocupe el ancho completo disponible hasta el máximo */
    margin: 0 auto; /* Centra horizontalmente dentro de su contenedor */

    /* Flexbox para mejorar la distribución */
    display: flex;
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

.menu-category h2 {
    margin: 0 0 1em;
    font-size: 1.5em;
    color: #ffffff;
}

.menu-category .precio{
    margin: 0 0 1em;
    font-size: 1.5em;
    color: #ffee03;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.menu-img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 4px;
}

.menu-info {
    flex: 1;
}


.menu-info h3 {
    margin: 0;
    font-size: 1.2em;
    color: #ffffff;
}

.menu-info p {
    margin: 0;
    font-size: 1.1em;
    color: #ffffff;
}

.menu h2{
    font-size: 28px
}


@media(max-width: 991px) {
    .menu-category {
        background-size: cover; /* Asegura que la imagen cubra todo el fondo */
        background-position: center; /* Centra la imagen en el cuadro */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 1em;
        color: white; /* Asegura que el texto sea legible sobre el fondo oscuro */
        background-color: rgba(12, 12, 12, 0.6); /* Fondo semi-transparente para mejorar la legibilidad */
        width: 75%; /* Asegura que ocupe el ancho completo disponible hasta el máximo */

    }
    
    .menu-category h2 {
        margin: 0 0 1em;
        font-size: 1.5em;
        color: #ffffff;
    }
    
    .menu-item {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-bottom: 1em;
    }
    
    .menu-img {
        width: 110px;
        height: 110px;
        object-fit: cover;
        border-radius: 4px;
    }
    
    .menu-info {
        flex: 1;
    }
    
    .menu-info h3 {
        margin: 0;
        font-size: 1.2em;
        color: #ffffff;
    }
    
    .menu-info p {
        margin: 0;
        font-size: 1.1em;
        color: #ffffff;
    }
    
    .menu h2{
        font-size: 28px
    }
    
}

.boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}

#buscarPlatoBtn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 15px;
}

#buscarPlatoBtn:hover {
    background-color: #555;
}

#categoryFilter {
    display: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
}

.boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}

#buscarPlatoBtn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 15px;
}

#buscarPlatoBtn:hover {
    background-color: #555;
}

#categoryFilter {
    display: none;
    padding: 9px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .boton {
        flex-direction: row;
    }

    #buscarPlatoBtn {
        margin-right: 10px;
        margin-bottom: 0;
    }

    #categoryFilter {
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .boton {
        flex-direction: row;
    }

    #buscarPlatoBtn {
        margin-right: 10px;
        margin-bottom: 0;
    }

    #categoryFilter {
        display: inline-block;
    }
}

#categoryFilter {
    background-color: #141414; /* Color de fondo cuando está cerrado */
    color: #ffffff; /* Color del texto */
    border: 2px solid #ffffff; /* Borde */
    padding: 6px;
    border-radius: 4px;
}

