@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', 'sans-serif';
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    display: flex;
    position: relative;
}

.menu {
    background-color: #FF9F0D;
    background-image: url('../images/bg-2.svg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Hace que la imagen cubra todo el área del encabezado */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: fixed; /* Hace que el encabezado se quede fijo en la parte superior al hacer scroll */
    top: 0;
    left: 0;
    right: 0;
    width: 100vw; /* Asegura que tome el 100% del ancho del viewport */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 0 20px; /* Añadido padding para que el contenido no toque los bordes */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del elemento */
    height: 60px; /* Ajusta la altura del encabezado según sea necesario */
}

.logo {
    color: #303030;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #303030;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.bg {
    position: absolute;
    width: 700px;
    z-index: -1;
    right: 0;
}

.esp {
    position: absolute;
    top: 700px;
    bottom: 0;
    width: 350px;
}

.header-info {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.header-txt {
    width: 50%;
    padding-right: 35px;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.header-txt p {
    font-size: 16px;
    color: #545454;
    margin-bottom: 35px;
}

.header-img {
    width: 50%;
}

.header-img img {
    width: 650px;
}

@media(max-width: 991px) {
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }
    .menu .navbar ul {
        display: flex;
        flex-direction: column;
    }
    .menu .navbar ul li {
        width: 100%;
        text-align: center;
    }
    .menu .navbar ul li a {
        color: #ffffff;
        display: block;
        padding: 15px 20px;
    }
    .menu .navbar ul li a:hover {
        color: #bebebe;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
    .bg {
        width: 500px;
    }
    .esp {
        display: none;
    }
    .header-info {
        flex-direction: column;
        padding: 30px;
    }
    .header-txt {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .header-txt h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .header-img {
        width: 100%;
        text-align: center;
        margin-top: 35px;
    }
    .header-img img {
        width: 300px;
    }
}