@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal */
.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* ====== HEADER ======= */

.header {
    display: flex;
    position: relative;
}

/* Menú fijo en la parte superior */
.menu {
    background-color: #709C8C;
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    max-width: 11000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 0 20px;
    box-sizing: border-box;
    height: 60px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  height: 60px; /* ajusta según tamaño del logo */
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Navbar */
.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #303030;
    display: block;
    font-weight: 600;
}

/* Icono del menú (para móviles) */
#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/* Imágenes decorativas del header */
.bg {
    position: absolute;
    width: 700px;
    z-index: -1;
    right: 0;
}

.esp {
    position: absolute;
    top: 700px;
    bottom: 0;
    width: 350px;
}

/* Información del header */
.header-info {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.header-txt {
    width: 50%;
    padding-right: 35px;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.header-txt p {
    font-size: 16px;
    color: #545454;
    margin-bottom: 35px;
}

.header-img {
    width: 10%;
}

.header-img img {
    width: 450px;
}

/* ====== TABLA CSS ======= */

.tabla-resultados {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;

    overflow: hidden;
    flex-direction: column;
    margin-top: 59px;
}

.tabla-header {
    background: linear-gradient(to right,
    #709C8C 0%, 
    #9FBCB1 30%, 
    #F0F5F3 50%, 
    #9FBCB1 70%, 
    #709C8C 100%
);



    padding: 10px;
    font-weight: bold;
    text-align: center;
    color: #2F3E3E;
}

.tabla-row {
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.tabla-row:last-child {
    border-bottom: none;
}

.fecha {
    width: 20%;
    color: #888;
    font-size: 14px;
}

.equipo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
}

.equipo div {
    display: flex;
    align-items: center;
}

.equipo img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.resultado {
    width: 20%;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* ====== RESPONSIVE MOBILE ===== */

@media(max-width: 991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }

    .menu .navbar ul {
        display: flex;
        flex-direction: column;
    }

    .menu .navbar ul li {
        width: 100%;
        text-align: center;
    }

    .menu .navbar ul li a {
        color: #ffffff;
        display: block;
        padding: 15px 2px;
    }

    .menu .navbar ul li a:hover {
        color: #bebebe;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .bg {
        width: 500px;
    }

    .esp {
        display: none;
    }

    .header-info {
        flex-direction: column;
        padding: 30px;
    }

    .header-txt {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .header-txt h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .header-img {
        width: 100%;
        text-align: center;
        margin-top: 35px;
    }

    .header-img img {
        width: 300px;
    }
}


