@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', 'sans-serif';
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    display: flex;
    position: relative;
}

.menu{
    background-color: #709C8C;
    background-image: url(''); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Hace que la imagen cubra todo el área del encabezado */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: fixed; /* Hace que el encabezado se quede fijo en la parte superior al hacer scroll */
    top: 0;
    left: 0;
    right: 0;
    width: 100vw; /* Asegura que tome el 100% del ancho del viewport */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 0 20px; /* Añadido padding para que el contenido no toque los bordes */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del elemento */
    height: 60px; /* Ajusta la altura del encabezado según sea necesario */
    max-width: 11000px;
}

.logo {
    color: #303030;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #303030;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.bg {
    position: absolute;
    width: 700px;
    z-index: -1;
    right: 0;
}

.esp {
    position: absolute;
    top: 700px;
    bottom: 0;
    width: 350px;
}

.header-info {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.header-txt {
    width: 50%;
    padding-right: 35px;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.header-txt p {
    font-size: 16px;
    color: #545454;
    margin-bottom: 35px;
}

.header-img {
    width: 10%;
}

.header-img img {
    width: 450px;
}

@media(max-width: 991px) {
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }
    .menu .navbar ul {
        display: flex;
        flex-direction: column;
    }
    .menu .navbar ul li {
        width: 100%;
        text-align: center;
    }
    .menu .navbar ul li a {
        color: #ffffff;
        display: block;
        padding: 15px 2px;
    }
    .menu .navbar ul li a:hover {
        color: #bebebe;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
    .bg {
        width: 500px;
    }
    .esp {
        display: none;
    }
    .header-info {
        flex-direction: column;
        padding: 30px;
    }
    .header-txt {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .header-txt h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .header-img {
        width: 100%;
        text-align: center;
        margin-top: 35px;
    }
    .header-img img {
        width: 300px;
    }
}

/* Estilos de la sección de campeonatos */
.campeonatos {
    margin-top: 50px;
}

.campeonatos h2 {
    font-size: 30px; /* Aumenta el tamaño de la fuente */
    color: #303030;
    margin-bottom: 1px;
    text-align: center; /* Centra el texto horizontalmente */
}

.campeonato {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.partido-1 {
    background-color: #a2cfcd  ; /* Color de fondo para el primer partido */
}

.partido-2 {
    background-color: #c6d3d2; /* Color de fondo para el segundo partido */
}

.campeonato h3 {
    font-size: 18px;
    color: #303030;
    margin-bottom: 10px;
}

.campeonato .campeonato-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.campeonato .partido {
    font-size: 20px;
    font-weight: 700;
    color: #303030;
    margin-bottom: 10px;
}

.campeonato .equipos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.campeonato .equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 300px; /* Ajusta el margen entre los equipos aquí */
}

.campeonato .equipo img {
    width: 80px; /* Tamaño ajustado para las imágenes de los equipos */
    height: 80px; /* Tamaño ajustado para las imágenes de los equipos */
    object-fit: cover;
    margin-bottom: 5px;
}

.campeonato .equipo span {
    font-size: 14px;
    color: #303030;
}

.campeonato .vs {
    font-size: 20px;
    color: #303030;
}

.campeonato .resultado {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.campeonato .resultado .goles-equipo {
    font-size: 28px;
    font-weight: bold;
    color: #303030;
}

.campeonato .goles {
    margin-top: 15px;
    color: #303030;
}

.campeonato .hora {
    font-size: 16px;
    font-weight: bold;
    color: #303030;
    margin-top: 10px;
}

@media(max-width: 991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }

    .menu .navbar ul {
        display: flex;
        flex-direction: column;
    }

    .menu .navbar ul li {
        width: 100%;
        text-align: center;
    }

    .menu .navbar ul li a {
        color: #ffffff;
        display: block;
        padding: 15px 2px;
    }

    .menu .navbar ul li a:hover {
        color: #bebebe;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .bg {
        width: 500px;
    }

    .esp {
        display: none;
    }

    .header-info {
        flex-direction: column;
        padding: 30px;
    }

    .header-txt {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .header-txt h1 {
        line-height: 50px;
        font-size: 35px;
        font-weight: 700;
    }

    .header-img {
        width: 100%;
        text-align: center;
        margin-top: 35px;
    }

    .header-img img {
        width: 300px;
    }
}


.table-container {
    width: 100%;
    max-width: 100%; /* Asegura que no exceda el ancho de la pantalla */
    overflow-x: auto;
    margin-top: 70px;
    padding: 0 15px; /* Añade padding para un mejor espaciado */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 2.5px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

td img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

tr:nth-child(1) td:nth-child(1), tr:nth-child(1) td:nth-child(2){
    background-color: #e0ffe0;
    font-weight: bold;
}

td:nth-child(8){
    background-color: #fafad1;
}
td:nth-child(7){
    background-color: #c7eff7a2;
}
td:nth-child(6), td:nth-child(5),td:nth-child(4),td:nth-child(3){
     background-color: #c5d4eb9f;
}




@media (max-width: 991px) {
    th, td {
        padding: 10px 5px;
        font-size: 14px;
        text-align: center;
    }

    .equipo{
        text-align: left;
    }

    td img {
        margin-right: 5px;
    }

    /* tr:nth-child(1) td {
        background-color: #dff0d8;
    } */
    td:nth-child(8){
        background-color: #fffee0;
    }
    td:nth-child(7){
        background-color: #e0faff;
    }
    td:nth-child(6), td:nth-child(5),td:nth-child(4),td:nth-child(3){
         background-color: #e0edff;
    }
    


}


th, td {
    text-align: center;
}

.equipo{
    text-align: left;
}

tr:nth-child(15) td:nth-child(1), tr:nth-child(15) td:nth-child(2){
    background-color: #ffe0e0;
}